<div class="page container" data-page="test">
  <h1 class="title">{{title}}</h1>
  <div class="videoPlayerWrap">
    <div class="videoPlayer" id="videoContainer" >
      <video id="video" class="img-yj-small" width="240" height="320" controls="controls" >
        你的浏览器不支持
        <source src="{{videoUrl path}}" type="{{type}}">
      </video>
      <div id="videoControls" style="width:240px;">
        <div class="buttons">
          <button id="playButton" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button id="stopButton" class="btn btn-default btn-sm" disabled="true">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
          {{!-- <button id="fullScreenBtn" title="FullScreen Toggle"> 全屏 </button> --}}
        </div>
        <div id="progressWrap">
          <div id="progressText" class="clearfloat"><span id="showProgress">0.0%</span></div>
          <div id="progressBar"></div>
          <div id="playProgress"></div>
        </div>
      </div>
    </div>
  </div>
</div>
